#body {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	max-width: 100px;
	max-height: 100px;
	border-radius: 5px 5px 0 0;
}

.imagearea {
	max-width: 100px;
	max-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}

.button {
	font-size: 14px;
	margin: 0;
	color: white;
	float: left;
	position: relative;
	margin: 2px 10px 2px 10px;
	border-radius: 100%;
	padding: 2px;
	text-align: center;
}

.add {
	width: 20px;
	height: 20px;
	color: white;
}

.add:hover,
.remove:hover {
	background-color: darkgray;
	cursor: pointer;
}

.remove {
	width: 20px;
	height: 20px;
	float: right;
}

.image {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bottom {
	max-height: 50px;
	background-color: gray;
	border-radius: 0 0 10px 10px;
}
